<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
<section>
    <h1>
        <div class="card mr-3 ml-3">
            <div class="card-body">
                <div class="container text-center">
                    <img style="width: 200px; height: 200px" class="contact_profile_picture" th:src="@{'/img/'+${Contact.imageUrl}}" alt="Profile photo">
                    <h3 class="mt-3"><span th:text="${Contact.name}"></span> <span th:text="${Contact.secondName}"></span></h3>
                    <table class="table" style="font-size: 25px;">
                        <thead>
                        <tr>
                            <th scope="col">#ID</th>
                            <th scope="col">SCMUSER<span th:text="${Contact.id}"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Email</th>
                            <td><span th:text="${Contact.email}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td><span th:text="${Contact.phone}"></span></td>
                        </tr>
                        <tr>
                            <th scope="row">work</th>
                            <td><span th:text="${Contact.work}"></span></td>
                        </tr>

                        </tbody>

                    </table>
                    <tr class="description mt-3" style="font-size: 25px;">
                        <th:block th:utext="${Contact.about}"></th:block>
                    </tr>

                </div>
            </div>

        </div>
    </h1>
</section>
</body>
</html>