<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
<section>
    <div class="container">
    <div class="profile">
        <h1 class="text-center" th:text="${user.name}"></h1>
    </div>
       <div class="card text-center mt-3">
           <div class="card-body text-center">
               <table class="table" style="font-size: 25px;">
                   <thead>
                   <tr>
                       <th scope="col">#ID</th>
                       <th scope="col">SCMUSER<span th:text="${user.id}"></span></th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr>
                       <th scope="row">Email</th>
                       <td><span th:text="${user.email}"></span></td>
                   </tr>
                   <tr>
                       <th scope="row">Role</th>
                       <td><span th:text="${user.role}"></span></td>
                   </tr>
                   <tr>
                       <th scope="row">Active</th>
                       <td><span th:text="${user.enabled}"></span></td>
                   </tr>

                   <tr>
                       <th scope="row">About</th>
                       <td><span th:text="${user.about}"></span></td>
                   </tr>


                   </tbody>

               </table>
           </div>
       </div>
    </div>
</section>
</body>
</html>