body{
    height: auto;
    background: #e2e2e2!important;
}
.bg-primary{
    background: #009688 !important;
}
.banner{
    width:100%;
    height:93vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/banner.jpg);
    background-size:cover;
    color: white;
}

.my-card{
    padding:20px;
    background: #ffffff;
}

.bg-image {
    background-image: url('../img/signup.jpg');
    background-size: cover;
    background-position: center;
}

/*@media (max-width: 992px) {*/
/*    .bg-image {*/
/*        background-image: url('image-mobile.jpg');*/
/*    }*/
/*}*/

.pugimg{
    background-image: url('../img/pug.jpg');
    background-size: cover;
    background-position:center ;
}


/*side bar*/
.sidebar{
    width: 18%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 45px;

}
.sidebar a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}

@media only screen and (max-width: 600px){
    .sidebar{
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
        z-index: 99999999;
    }

}

.sidebar a:hover{
    background: #e2e2e2;
}

.sidebar .crossbtn{
    position: absolute;
    top: 0;
    right: 35px;
    font-size:36px;
    cursor: pointer;
}

.sidebar .divider{
    height: 5px;
    width: 100%;
    background: #e2e2e2;
    margin-top: 10%;
}

.content{
    margin-left: 20%;
}
.contact_profile_picture{
    width: 40px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

/*search contact CSS*/
.search-container{
    position: absolute;
}
.search-result{
    position: relative;
    background: white;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}












