<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
</head>
<body>
<section>
  <h1>
    this is about page
  </h1>

  <footer class="bg-dark py-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-white">Contact</h4>
          <p class="text-white">
            Phone: 555-555-5555<br>
            Email: info@example.com
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-white">About</h4>
          <p class="text-white">
          <p class="text-white">
            Our contact management application makes it easy for users to store, organize, and manage their contacts.<br>
            With a simple and intuitive interface, users can quickly and easily add new contacts, edit existing ones, and search for specific contacts.<br>
          </p>
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-white">Follow us</h4>
          <p class="text-white">
            <a href="https://www.facebook.com/">Facebook<i class="fab fa-facebook-square"></i></a> <br>
            <a href="https://twitter.com/?lang=en">twitter<i class="fab fa-twitter-square"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </p>
        </div>
      </div>
      <p class="text-center text-white">Copyright</p>
    </div>
  </footer>
</section>
</body>
</html>