<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
  <div class="text-center">
      <h1 class="font-weight-bold"> Smart Contact</h1>

      <p>"Our contact management application is designed to help <br>
          users efficiently store, organize, and manage their contact <br>
          information. With features like the ability
          to add and edit contact details, categorize contacts into groups, <br>
          and search for specific contacts, our app makes it easy to streamline
          communication and relationship management efforts. Built with advanced <br>
          technologies and frameworks, our app is reliable, secure, and accessible
          from multiple devices. Our team is dedicated to providing the best possible <br>
          experience for our users and is constantly working to improve and expand our
          app's capabilities. Thank you for choosing our contact management application."
      </p>
      <button class="btn btn-lg btn-primary" style="font-weight: bold">Get Started</button>
  </div>
</section>
</body>
</html>